.create-new-employee-btn {
    background: rgb(64, 108, 190);
    color: white;
    padding: 1rem;
    border-radius: 3px;
    margin-top: 2rem;
    text-decoration: none;
    position: absolute;
    bottom: 3rem;
    left: 50%;
    transform: translate(-50%, 0);
}

.MuiPaper-elevation2 {
    width: 95% !important;
    margin: 0 auto !important;
}

.MTableHeader-header-13 {
    background: rgb(64, 108, 190) !important;
    color: white !important;
}

.MuiTableBody-root {
    background: beige !important;
}

.MuiIcon-fontSizeSmall {
    width: 5rem;
}

.MuiInputAdornment-positionEnd  {
    display: none;
}

.MuiIcon-fontSizeSmall {
    width: 5rem !important;
}

.MuiInputAdornment-positionEnd {
    display: none !important;
}